body {
    background-color: #F8F4EA;
    text-align: center;
    font-family: 'Oswald', serif;
}



/*div {
    height: 400px;
}*/

hr {
    border-style: dotted none none none;
    border-color: #E02401;
    width: 8%;
    border-width: 10px;
    
}

h1 {
    font-family: 'Anton', serif;
    font-size: 400%;
    margin: 0;
}

.header {
    position: relative;
    height: 850px;
}

.header-inner {
    position: relative;
}
.header-text {
    margin: 0;
    color: #E02401;
    position: absolute;
    top: 60px;
    left: 30%;
}

.introduction-text {
    width: 50%;
    text-align: center;
    margin: 40px auto 40px auto;
}
.skill-row {
    margin: 40px auto 40px auto;
    width: 50%;
    text-align: left;
    line-height: 1.5;
}
.running-icon {
    height: 100px;
    float: left;
    margin-right: 50px;
}

.dev-icon {
    height: 100px;
    float: left;
    margin-right: 50px;
}

.contact-me {
    margin: auto auto 30px auto;
}
.middle-container {
}

.bottom-container {
    background-color: #E02401;
    margin: 0px;
    padding: 50px 0 20px;
}

/****/

#main-image {
    position: relative;
    top: -20px;
    width: 600px;
}

.btn-div {
    margin: 30px auto auto auto;
}
.btn {
    margin-top: 60px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Oswald', serif;
    color: #ffffff;
    font-size: 20px;
    background: #E02401;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #e0533a;
    text-decoration: none;
}